# Node modules
**/node_modules
**/dist
**/build

# Environment variables
.env
.env.local
.env.*.local

#Local files
README.md
REQUIREMENTS.md
SUBMISSION.md
DOCKER_COMPOSE_HINTS.md
EVALUATION.md
quickstart.sh
sample-data/
.env
**/node_modules